@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-white font-bold px-4 py-2 rounded bg-primary-600 hover:bg-primary-500;
  }

  .btn-outline-neutral {
    @apply text-neutral-400 font-bold px-4 py-2 rounded border-2 border-neutral-400 hover:bg-neutral-400 hover:text-neutral-900;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm;
  }

  .bg-main {
    @apply bg-gradient-to-br from-teal-300 to-lime-200;
  }
}

/* Give a remote user a caret */
.prose .collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  word-break: normal;
  pointer-events: none;
}

/* Render the username above the caret */
.prose .collaboration-cursor__label {
  position: absolute;
  top: -1.4em;
  left: -1px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #0d0d0d;
  padding: 0.1rem 0.3rem;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
}
