@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-black inline-block align-middle text-center text-base font-bold px-4 py-2 shadow-full_sm rounded-lg bg-neutral border-2 border-black hover:bg-primary hover:text-neutral;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-dark hover:text-neutral;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-dark;
  }

  .btn-secondary {
    @apply bg-secondary hover:bg-secondary-dark;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm;
  }

  .card {
    @apply bg-neutral rounded-xl border-2 border-black shadow-full p-4;
  }

  .bg-main {
    background-color: #f7f4f1;
    opacity: 0.8;
    background-image: linear-gradient(#d3cfca 1px, transparent 1px),
      linear-gradient(to right, #d3cfca 1px, #f7f4f1 1px);
    background-size: 20px 20px;
  }

  .border-main {
    @apply border-black border-2 rounded-lg;
  }
}

/* Give a remote user a caret */
.prose .collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  word-break: normal;
  pointer-events: none;
}

/* Render the username above the caret */
.prose .collaboration-cursor__label {
  position: absolute;
  top: -1.4em;
  left: -1px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #0d0d0d;
  padding: 0.1rem 0.3rem;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
}
